<div>
    <div>
        <ol
                class="mx-auto max-w-3xl grid grid-cols-1 divide-x divide-gray-100 overflow-hidden rounded-lg text-sm text-gray-500 sm:grid-cols-3"
        >
            <li class="text-gray-300 flex items-center justify-center gap-2 bg-gray-800 p-4">

                <p class="leading-none">
                    <strong class="block font-medium"> lucasnimes30000@gmail.com </strong>
                </p>
            </li>

            <li class="text-gray-300 relative flex items-center justify-center gap-2 bg-gray-800 p-4">

                <svg
                        class="h-7 w-7 shrink-0"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                >
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                    />
                    <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                    />
                </svg>

                <p class="leading-none">
                    <strong class="block font-medium"> Toulouse </strong>
                </p>
            </li>

            <li class="text-gray-300 flex items-center justify-center bg-gray-800 gap-2 p-4">
                <p class="leading-none">
                    <strong class="block font-medium"> +33 7 79 99 23 33 </strong>
                </p>
            </li>
        </ol>
    </div>
    <div class="mt-4">
        <ol
                class="mx-auto max-w-3xl grid grid-cols-1 divide-x divide-gray-100 overflow-hidden rounded-lg text-sm text-gray-500 sm:grid-cols-3"
        >
            <a class="group" href="https://github.com/LuckyShuii">
                <li class="group-hover:bg-gray-600 text-gray-300 flex items-center justify-center gap-2 bg-gray-800 p-4">
                    <img src="{{ asset('img/github2.svg') }}" alt="Github Logo" class="w-6 h-6">

                    <p class="leading-none">
                        <strong class="text-fuchsia-200 block font-medium"> Git Hub </strong>
                    </p>
                </li>
            </a>
            <a class="group" href="https://www.linkedin.com/in/lucas-boillot/">
                <li class="group-hover:bg-gray-600 text-gray-300 relative flex items-center justify-center gap-2 bg-gray-800 p-4">

                    <img src="{{ asset('img/linkedin2.svg') }}" alt="Linkedin Logo" class="w-6 h-6">


                    <p class="leading-none">
                        <strong class="text-fuchsia-200 block font-medium"> Linkedin </strong>
                    </p>
                </li>
            </a>
            <li class="text-gray-300 flex items-center justify-center bg-gray-800 gap-2 p-4">
                <p class="leading-none">
                    <strong class="block font-medium"> Lucas Boillot </strong>
                </p>
            </li>
        </ol>
    </div>
</div>