<span id="start" class="relative flex justify-center">
      <div
              class="absolute inset-x-0 top-1/2 h-px -translate-y-1/2 bg-transparent bg-gradient-to-r from-transparent via-sky-500  to-transparent opacity-75"
      ></div>
  <span class="text-3xl relative text-neutral-50 bg-gray-900 z-10 px-6 my-16">{{ name }}</span>
</span>