@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-rainbow {
    width: 15rem;
}
